* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: white;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 5px;
}


.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social,
.subscribe {
    align-self: flex-end;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.photo-grid-item:first-of-type {
    order: 1;
}

.photo-grid-item:last-of-type {
    order: -1;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid white;
    background-color: #D6E9FE;
    height: 200px;
}

.footer-one, .footer-three {
    background-color: #5995DA;
    width: 300px;
}

.footer-two {
    flex: 2;
}